BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 100
AlignAfterOpenBracket: Align
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: true
AllowShortFunctionsOnASingleLine: None   
AllowShortLoopsOnASingleLine: true
BraceWrapping:
  AfterFunction: true                   
  SplitEmptyFunction: true
