BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 100
Cpp11BracedListStyle: false
AlignAfterOpenBracket: Align
BreakBeforeBraces: Attach
BinPackArguments: false
BinPackParameters: false
AllowAllConstructorInitializersOnNextLine: false
AllowShortIfStatementsOnASingleLine: true
AllowShortFunctionsOnASingleLine: None
AllowShortLoopsOnASingleLine: false
BraceWrapping:
  AfterFunction: true
  SplitEmptyFunction: true
