CompileFlags:
  Add:
    - -Wall
    - -Wextra
    - -std=c11
    - -Iinclude
    - -I.
    - -I/usr/local/include
  Compiler: gcc

Diagnostics:
  UnusedIncludes: Strict

ClangTidy:
  Add: [modernize*]
  Remove: [modernize-use-trailing-return-type]
